{% extends "base.html" %}
{% block title %}Log In{% endblock title %}

{% block content %}
    <h2>Log In</h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit">Log In</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
{% endblock content %}