{% extends "base.html" %}

{% block title %}Password reset{% endblock title %}

{% block content %}
    <h1>Password reset</h1>
    <p>Please enter your email address below</p>
    <form action=""method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Reset password">
    </form>
{% endblock content %}