{% extends "base.html" %}

{% block title %}Password Change successful{% endblock title %}

{% block content %}
    <h1>Password change</h1>
    <p>Your password was changed</p>

{% endblock content %}