{% extends "base.html" %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <h1>Password change</h1>
    <p>Please enter your old password, and confirm the new password</p>
    <form action=""method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Change password">
    </form>
{% endblock content %}