{% extends "base.html" %}

{% block title %}Password reset{% endblock title %}

{% block content %}
    <h1>Password reset</h1>
    <p>Please check your email for instructions</p>
{% endblock content %}