{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">Newspaper App</h1>
        <p class="lead">A newspaper app built with Django</p>
        <p class="lead">
            <a href="{% url 'article_list' %}" class="btn btn-primary btn-lg">View all articles</a>
        </p>
    </div>
{% endblock content %}