body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #2881b4;
    margin-bottom: 4px;
}

button {
    background: #2881b4;
    color: white;
    padding: 10px 20px;
    border: 1px solid #2881b4;
    font-weight: bold;
}
#delete-btn {
    background: white;
    color: #2881b4
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin-top: 5px;
}

li a {
    color: #2881b4
}