{% extends '_base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1>Homepage</h1>
  <form action="{% url 'search_results' %}" method="get" class="form-inline mt-2 mt-md-0">
    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="search">
  </form>
    <img width="20%" src="{% static "images/dfp.jpg" %}" alt="">
    {% if user.is_authenticated %}
        Hi {{ user.email }}
        <p><a href="{% url 'account_logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'account_login' %}">Log In</a>
        <a href="{% url 'account_signup' %}">Sign up</a>
    {% endif %}
{% endblock content %}