{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django page</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link href="https://fonts.googleapis.con/css?family=Source+Sans+Pro" rel="stylesheet">
</head>
<body>
<header>
    <div class="nav-left">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About us</a>
        <a href="{% url 'blog' %}">Blog</a>
    </div>
    <div class="nav-right">
        <a href="{% url 'post_new' %}">New post</a>
    </div>

</header>
{% if user.is_authenticated %}
    <p>Hi {{ user.username }}</p>
    <a href="{% url 'logout' %}">Log out</a>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'signup' %}">Sign up</a>
{% endif %}
{% block content %}
{% endblock content %}
</body>
</html>