{% extends "_base.html" %}
{% block title %}Log In{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Log In</button>
    </form>
{% endblock %}