{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log Out {% endblock title %}

{% block content %}
    <h1>Log out</h1>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-danger" type="submit">Log out</button>
    </form>
{% endblock content %}