{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.author }} | {{ object.body }}</p>
        <p>{{ object.body }}</p>
    </div>
    <p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
        <a href="{% url 'article_delete' article.pk%}">Delete</a></p>
    <p>All to <a href="{% url 'article_list' %}">All articles</a></p>
{% endblock content %}