{% extends '_base.html' %}
{% block title %}Books{% endblock title %}

{% block content %}
  {% for book in book_list %}
    <div>
      <h2><a href="{{book.get_absolute_url}}">{{ book.title }}</a></h2>
    </div>
  {% endfor %}
{% endblock content %}