{% extends '_base.html' %}
{% block title %}Book detail{% endblock title %}

{% block content %}
  <div class="book-detail">
    {% if book.cover %}
      <img width="300px" class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
    {% endif %}
    <h2><a href="">{{ book.title }}</a></h2>
  <p>{{ book.author }}</p>
  <p>{{ book.price }}</p>
  </div>
  <div>
    <h3>Reviews</h3>
    <ul>
      {% for review in book.reviews.all %}
        <li>{{ review.review }} ({{ review.author }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}