{% extends 'base.html' %}
{% block content %}

    <div class="header">
        <h1>Posts</h1>
    </div>
    {% for post in blog_posts %}
        <div class="post-entry">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}